<div class="container">
    <h2>Registrar Venta</h2>
    <form [formGroup] = "formVenta" (ngSubmit) = "guardar()" class="formulario">
        <label> Cliente: </label>
        <select formControlName= "cliente">
            <option value=""> Seleccione Cliente </option>
            <option *ngFor = "let c of clientes" [ngValue] = "c" > {{c.nombre}} </option>
        </select>
        <div formArrayName="detalles" class="detalles">
            <div *ngFor = "let detalle of detalles.controls; let i = index" [formGroupName] = "i" class="detalle-item">
                <select formCControlName = "producto" (change) = "calcularSubTotal(i)">
                <option value=""> Producto </option>
                <option *ngFor = "let p of productos" [ngValue] = "p" > {{p.nombre}} (S/ {{p.precio}}) </option>
                </select>
                <input type="number" formControlName = "cantidad"(input) = "calcularSubTotal(i)" min ="1" />
                <input type="tex" formControlName = "subTotal" readonly />
            </div>

        </div>
    </form>
 =